.git
.gitignore
.env
.env.local
.env.*.local
/node_modules
/vendor
/.idea
/.vscode
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/bootstrap/cache/*
.DS_Store
*.log
npm-debug.log
yarn-error.log
docker-compose.yml
docker-compose.override.yml
docker-compose.prod.yml
tests/
phpunit.xml
.editorconfig
.prettierignore
.prettierrc
.gitattributes
*.md
vitest.config.ts
